@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

.heading {
  text-align: center;
  font-family: 'Zen Tokyo Zoo', cursive;
  margin-top: 3rem;
}

.heading h1 {
  font-size: 3.5rem;
}

.italic {
  font-style: italic;
}

.secondary-color {
  color: #ee6f57;
}

p {
  font-size: 1.5rem;
}
